.Home{
text-align: center;
background-color: #bfbdba24; 
margin-top:5%;
}
.Header{
    text-align: center;
    /* background-color: #bfbdba24; 
    margin-top:10%; */
    }
.signinPage{
    text-align: center;
    padding:25px;

}